@media (max-width: 768px) {
    *{
        margin: 0;
    }

    body{
        background-color: rgba(239, 239, 239, 1);
        font-family: 'Poppins';
        display: block;
        justify-items: center;
        align-content: center;
        animation: animasi-masuk 300ms ease;
    }

    @keyframes animasi-masuk {
        0%{
            opacity: 0;
        }
    }

    .title{
        height: 150px;
        width: 100%;
        background-color: rgb(0, 60, 226);
        color: white;
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        filter: drop-shadow(1px 2px 8px rgba(0, 0, 0, 0.612));
    }

    .title h2{
        margin-top: 10%;
        width: 100px;
        text-align: center;
        position: relative;
        font-weight: 900;
    }

    .title h2::after{
        content: " Transaksi.";
        position: relative;
        bottom: 5px;
        right: 11%;
    }
    
    .backBtn{
        display: flex;
        align-items: center;
        position: absolute;
        cursor: pointer;
        gap: 5px;
        width: 20%;
        top: 10%;
        left: 5%;
    }

    .backBtn img{
        width: 25px;
        height: 25px;
    }

    /* Table */

    .wrap-table{
    background-color: white;
    display: flex;
    position: relative;
    margin-top: 7%;
    padding: 10px 10px 0px 10px;
    width: 90%;
    border-radius: 12px;
    padding-bottom: 10px;        
    background-color: rgba(255, 255, 255, 1);
    }

    .text-table{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 13%;
    padding-left: 5px;
    padding-right: 10px;
    height: 50px;
    width: 315px;
    }

    .text-table h2{
    font-weight: 600;
    }

    .text-table p {
    font-size: 0.8rem;
    font-style: italic;
    }

    .wrap-table table{
    width: 100%;
    height: 100%;
    }

    .wrap-table th{
    text-align: left;
    font-size: 0.9rem;
    border-bottom: 1px solid rgba(202, 202, 202, 1);
    padding-bottom: 8px;
    }

    .wrap-table td{
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    font-size: 0.8rem;
    border-bottom: 1px solid rgba(202, 202, 202, 1);
    }

    .wrap-table td:nth-child(4){
    text-align: center;
    }
}