@media (max-width: 768px) {
    *{
        margin: 0;
    }

    body{
        background-color: rgba(239, 239, 239, 1);
        font-family: 'Poppins';
        display: block;
        justify-items: center;
        align-content: center;
        animation: animasi-masuk 300ms ease;
    }

    @keyframes animasi-masuk {
        0%{
            opacity: 0;
        }
    }

    .title{
        height: 150px;
        width: 100%;
        background-color: rgb(0, 60, 226);
        color: white;
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        filter: drop-shadow(1px 2px 8px rgba(0, 0, 0, 0.612));
    }

    .title h2{
        margin-top: 10%;
        width: 100px;
        text-align: center;
        position: relative;
        font-weight: 900;
    }

    .title h2::after{
        position: relative;
        content: " produk.";
        bottom: 5px;
        left: 4%;
    }
    
    .backBtn{
        display: flex;
        align-items: center;
        position: absolute;
        cursor: pointer;
        gap: 5px;
        width: 20%;
        top: 10%;
        left: 5%;
    }

    .backBtn img{
        width: 25px;
        height: 25px;
    }

    /* Slider Add Product */

    .add-product{
        margin-top: 35px;
        margin-bottom: 35px;
        width: 95%;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 1);
        display: flex;
        overflow-x: hidden;
    }
    
    .add-product-slider{
        width: max-content;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    /* Toggle Slide */

    .toggle{
        top: 5%;
        left: 35%;
        position: absolute;
    }

    .toggle input {
        display: none;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        border: 1px rgba(0, 0, 0, 0.3) solid;
        display: flex;
        align-items: center;
        width: 120px;
        height: 20px;
        border-radius: 5px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: 0.4s;
      }

      .slider::before {
        content: "Outlet";
        position: absolute;
        padding-top: 2px;
        height: 18px;
        width: 65px;
        background-color: blue;
        border-radius: 5px;
        left: 0.1px;
        color: white;
        font-weight: bold;
        text-align: center;
        font-size: 0.7rem;
        top: 50%;
        transform: translateY(-50%);
        transition: 0.4s;
    }

    input:checked + .slider::before {
        content: "External";
        left: 55px;
    }


    .external{        
        background-color: rgb(0, 60, 226);
        width: 100px;
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .external h1{
        color: white;
        rotate: calc(270deg);
        font-size: 3.5rem;
    }

    .input-product{
        background-color: rgba(255, 255, 255, 1);
        width: 250px;
        height: 300px;
        display: block;
        justify-items: center;
        align-content: center;
    }

    .input-nama{
        width: 80%;
        margin-top: 25px;
    }

    .input-nama input{
        font-size: 0.9rem;
        font-family: 'poppins';
        background-color: rgba(255, 255, 255, 1);
        margin-top: 5px;
        width: 90%;
        height: 25px;
        outline: none;
        border: 1px solid rgba(0, 0, 0, 0.25);
        padding-left: 5%;
        border-radius: 8px;
    }

    .input-harga{
        width: 80%;
        margin: 10px 0px 0px 0px;
    }

    .input-harga input{
        font-size: 0.9rem;
        font-family: 'poppins';
        background-color: rgba(255, 255, 255, 1);
        margin-top: 5px;
        width: 90%;
        height: 25px;
        outline: none;
        border: 1px solid rgba(0, 0, 0, 0.25);
        padding-left: 5%;
        border-radius: 8px;
    }

    .metode-trx{
        width: 80%;
        margin: 15px 0px 20px 0px;
    }

    .metode-trx input{
        scale: 110%;
        margin-right: 3%;
    }

    .metode-trx span:nth-child(4){
        margin-right: 6%;
    }

    .btn-action{
        width: 80%;
        display: flex;
        justify-content: center;
        gap: 5%;
    }

    .btn-action button:nth-child(1){
        background-color: rgba(116, 116, 116, 1);
    }

    .btn-action button{
        font-family:'Poppins';
        color: white;
        background-color: rgb(0, 60, 226);
        border: none;
        font-size: 0.9rem;
        border-radius: 3px;
        height: 30px;
        width: 100%;
    }
    
    .outlet{
        background-color: rgb(0, 60, 226);
        width: 100px;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
    }

    .outlet h1{
        color: white;
        rotate: calc(270deg);
        font-size: 3.5rem;
    }

    /* Table Produk */
      .text-table{
        width: 90%;
    }

    .text-table h3{
        font-weight: 500;
    }

    .text-table p{
        scale: 1.2;
    }

    .wrap-table{
    background-color: white;
    display: flex;
    position: relative;
    padding: 10px 20px 0px 20px;
    margin-bottom: 5%;
    width: 84%;
    border-radius: 12px;
    padding-bottom: 10px;        
    background-color: rgba(255, 255, 255, 1);
    }

    .text-table{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 13%;
    padding-left: 5px;
    padding-right: 10px;
    height: 50px;
    width: 315px;
    }

    .text-table h2{
    font-weight: 600;
    }

    .text-table p {
    font-size: 0.8rem;
    font-style: italic;
    }

    .wrap-table table{
    width: 100%;
    height: 100%;
    }

    .wrap-table th{
    text-align: left;
    font-size: 0.9rem;
    border-bottom: 1px solid rgba(202, 202, 202, 1);
    padding-bottom: 8px;
    }

    .wrap-table td{
    padding: 8px 0px;
    text-align: left;
    font-size: 0.8rem;
    border-bottom: 1px solid rgba(202, 202, 202, 1);
    }

    .wrap-table td:nth-child(4){
    text-align: center;
    }

    .wrap-table td button{
        width: 17px;
        height: 17px;
        border: none;
        border-radius: 2px;
    }

    .wrap-table td button:nth-child(1){
    background-color:  blue;
    margin-right: 3px;
    background-image: url('assets/edit-produk.png');
    background-position: center;
    background-size: contain;
    }

    .wrap-table td button:nth-child(2){
    background-color: white;
    background-image: url('assets/trash-can.png');
    background-position: center;
    background-size: contain;
    }
}